<div id="page_wrapper">
  <div style="display:flex;">
  <%=image_tag "me.jpg",style:"height:250px;width:250px; display inline;"%>
  <div style="padding:25px;">
    <p style="max-width:450px;padding-bottom:4px;">A web developer/designer and core-java enthusiast from New Delhi,India. I enjoy building things from scratch, writing pretty code, black coffee, and the oxford semi colon.</p>
    <p style="max-width:450px;padding-bottom:4px;">Currently pursuing B.tech(CSE) from Maharaja Agrasen Institute of Technology(2015-2019)</p>
    <p style="max-width:450px;padding-bottom:4px;">If you're looking for some of my work, you've come to the right place.</p>
  </div>
  </div>
</div>
